---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import Latex from "@/components/Latex.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{	
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
		title: "Astro",
	},
	{
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
		title: "Tailwind CSS",
	},
	{
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
		title: "Markdown",
	},
	{
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
		title: "MDX",
	},
	{
		desc: "Generating png Open Graph images for blog posts.",
		href: "https://github.com/vercel/satori",
		title: "Satori",
	},
	{
		desc: "A fully static search library.",
		href: "https://pagefind.app/",
		title: "Pagefind",
	},
	{
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
		title: "Astro Icon",
	},
	{
		desc: "Highly customisable source code & syntax highlighter",
		href: "https://expressive-code.com/",
		title: "Expressive Code",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section style="display: grid; grid-template-columns: 1fr auto; gap: 20px; align-items: center;">
	  <div>
		<h1 style="margin-bottom: 1.5rem;">Hello World! My name is <b>Aum Suthar</b></h1>
		<p style="margin-bottom: 1rem;">
			I am a <b>Junior</b> studying <b>Materials Science and Engineering</b> at The Ohio State University. I am interested in the fields of battery technology, materials for a sustainable future, robotics, and AI/ML! Check out my resume and projects below!
		</p>
		<Latex formula="E=mc^2"/>
		<SocialList />
	  </div>
	  <div style="text-align: center;">
		<img src="unnamed.jpg" alt="Aum Suthar" style="width: 20vw; height: 20vw; max-width: 200px; max-height: 200px; height: auto; border-radius: 50%;" />
	  </div>
	</section>
	<section aria-label="Blog post list" style="margin-top: 4rem;">
	  <h2 style="margin-bottom: 1rem; font-size: 1.25rem;">Posts</h2>
	  <ul style="margin-top: 1rem;">
		{allPostsByDate.map((p) => (
		  <li style="display: grid; gap: 0.5rem;">
			<PostPreview post={p} />
		  </li>
		))}
	  </ul>
	</section>
  </PageLayout>