---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
  {	
    desc: "Build fast websites, faster.",
    href: "https://astro.build",
    title: "Astro",
  },
  {
    desc: "Rapidly build modern websites without ever leaving your HTML.",
    href: "https://tailwindcss.com",
    title: "Tailwind CSS",
  },
  {
    desc: "Simple and easy-to-use markup language.",
    href: "https://www.markdownguide.org/",
    title: "Markdown",
  },
  {
    desc: "Markdown for the component era.",
    href: "https://mdxjs.com/",
    title: "MDX",
  },
  {
    desc: "Generating png Open Graph images for blog posts.",
    href: "https://github.com/vercel/satori",
    title: "Satori",
  },
  {
    desc: "A fully static search library.",
    href: "https://pagefind.app/",
    title: "Pagefind",
  },
  {
    desc: "An easy to use Icon component for Astro.",
    href: "https://github.com/natemoo-re/astro-icon#readme",
    title: "Astro Icon",
  },
  {
    desc: "Highly customisable source code & syntax highlighter",
    href: "https://expressive-code.com/",
    title: "Expressive Code",
  },
];
---

<PageLayout meta={{ title: "Home" }}>
  <section style="display: grid; grid-template-columns: 1fr auto; gap: 20px; align-items: center;">
    <div>
      <h1 style="margin-bottom: 1.5rem; font-size: 1.25rem;">Hello! My name is <b>Aum Suthar</b></h1>
      <p style="margin-bottom: 1rem;">
        I am a <b>Junior</b> studying <b>Materials Science and Engineering</b> at The Ohio State University. I am interested in the fields of battery technology, materials for a sustainable future, robotics, and AI/ML! Check out my resume and projects below!
      </p>
      <SocialList />
    </div>
    <div style="text-align: center;">
      <img src="unnamed.jpg" alt="Aum Suthar" style="width: 20vw; height: 20vw; max-width: 200px; max-height: 200px; height: auto; border-radius: 50%;" />
    </div>
  </section>
  <section style="margin-top: 2rem;">
	<h2 style="margin-bottom: 1rem; font-size: 1.25rem;"><b>Work Experience</b></h2>
	
	<section style="margin-bottom: 20px;">
	  <div style="margin-bottom: 10px;">
		<div style="display: flex; justify-content: space-between; align-items: center;">
		  <h3 style="margin: 0;"><b>Caterpillar</b><span style="background-color: #ddd; border-radius: 12px; padding: 2px 8px; font-size: 0.8em; margin-left: 10px;">Part-time</span></h3>
		  <span style="color: #999; font-size: 0.9em;">Aug 2024 - Now</span>
		</div>
		<p>Parallel Co-Op Intern - Manufacturing Technology and Solutions</p>
	  </div>
	</section>
	
	<section style="margin-bottom: 20px;">
	  <div style="margin-bottom: 10px;">
		<div style="display: flex; justify-content: space-between; align-items: center;">
		  <h3 style="margin: 0;"><b>Caterpillar</b><span style="background-color: #ddd; border-radius: 12px; padding: 2px 8px; font-size: 0.8em; margin-left: 10px;">Full-time</span></h3>
		  <span style="color: #999; font-size: 0.9em;">May 2024 - Aug 2024</span>
		</div>
		<p>Corporate Engineering Intern - Manufacturing Technology and Solutions</p>
		<ul style="padding-left: 20px; list-style-type: disc; font-size: 0.85em;">
		  <li>Orchestrated a machine learning project to classify welding quality in real-time; synergized with welders and factory teams to streamline defect data delivery.</li>
		  <li>Enhanced Caterpillar Makerspace 3D printing throughput by engineering a stackable, portable, and ventilated enclosure.</li>
		  <li>Supported factory integration project that involved establishing communications between a CNC lathe and a gantry robot system for coordinated material transport operations.</li>
		  <li>Developed a user-friendly application in Python OpenCV to train machine vision systems for defect detection.</li>
		  <li>Modelled sputtering targets using 3D scanning metrology techniques for the Advanced Materials Group, saving $20-30,000 annually in production costs.</li>
		</ul>
	  </div>
	</section>
	
	<section style="margin-bottom: 20px;">
	  <div style="margin-bottom: 10px;">
		<div style="display: flex; justify-content: space-between; align-items: center;">
		  <h3 style="margin: 0;"><b>Argonne National Laboratory</b><span style="background-color: #ddd; border-radius: 12px; padding: 2px 8px; font-size: 0.8em; margin-left: 10px;">Full-time</span></h3>
		  <span style="color: #999; font-size: 0.9em;">May 2024 - Aug 2024</span>
		</div>
		<p>Summer Undergraduate Research Intern - X-Ray Sciences Division</p>
		<ul style="padding-left: 20px; list-style-type: disc;">
		  <li>Pioneered fully automated high throughput experimentation, achieving uninterrupted operation from 0 to over 3 cycles without human intervention.</li>
		  <li>Designed sample shipment accessories for beamline users, created a user-friendly sample preparation system, and optimized robot accessories to enhance consistency.</li>
		  <li>Supported factory integration project that involved establishing communications between a CNC lathe and a gantry robot system for coordinated material transport operations.</li>
		  <li>Developed a user-friendly application in Python OpenCV to train machine vision systems for defect detection.</li>
		  <li>Modelled sputtering targets using 3D scanning metrology techniques for the Advanced Materials Group, saving $20-30,000 annually in production costs.</li>
		</ul>
	  </div>
	</section>

	<section style="margin-bottom: 20px;">
	  <div style="margin-bottom: 10px;">
		<div style="display: flex; justify-content: space-between; align-items: center;">
		  <h3 style="margin: 0;"><b>Argonne National Laboratory</b><span style="background-color: #ddd; border-radius: 12px; padding: 2px 8px; font-size: 0.8em; margin-left: 10px;">Full-time</span></h3>
		  <span style="color: #999; font-size: 0.9em;">May 2024 - Aug 2024</span>
		</div>
		<p>Volunteer Student Researcher</p>
		<ul style="padding-left: 20px; list-style-type: disc;">
		  <li>Pioneered the first self-guided AI robot for 3D thermal and spatial mapping in a Department of Energy (DOE)
        facility in collaboration with facility staff.</li>
		  <li>Enhanced safety and environmental monitoring during high-radiation operations using the FLIR Lepton infrared
        camera and DHT22 sensors for data-driven detection of climate irregularities and thermal hotspots.</li>
		  <li>Presented and published research at the 2020 International Conference on Synchrotron Radiation Equipment.</li>
		</ul>
	  </div>
	</section>
  </section>
  <section>
    <section style="margin-top: 2rem;">  
    <h2 style="margin-bottom: 1rem; font-size: 1.25rem;"><b>Skills</b></h2>
  </section>
  <section aria-label="Blog post list" style="margin-top: 2rem;">
    <h2 style="margin-bottom: 1rem; font-size: 1.25rem;">Posts</h2>
    <ul style="margin-top: 1rem;">
      {allPostsByDate.map((p) => (
        <li style="display: grid; gap: 0.5rem;">
          <PostPreview post={p} />
        </li>
      ))}
    </ul>
  </section>
</PageLayout>
